.bordesdatos{
    padding-top: 1.5rem 0;
    padding-bottom: 1.5rem 0;
    margin-left: 3.5rem;
    margin-right: 1.5rem;
    padding-left: 15rem;
    padding-right: 15rem;

}
.form-demo h2, hr {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.fondo{
    background-color: #ebf3fa;
}